<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
        <mimeMap fileExtension=".gp3" mimeType="application/gp3" />
        <mimeMap fileExtension=".gp4" mimeType="application/gp4" />
        <mimeMap fileExtension=".gp5" mimeType="application/gp5" />
        <mimeMap fileExtension=".gpx" mimeType="application/gp6" />
        <mimeMap fileExtension=".gp" mimeType="application/gp7" />
        <mimeMap fileExtension=".exe2" mimeType="application/mono" />
        <mimeMap fileExtension=".sf2" mimeType="application/soundfont2" />
        <mimeMap fileExtension=".sf3" mimeType="application/soundfont2" />
	</staticContent>
    <httpErrors errorMode="Detailed" existingResponse="Auto" />
    <rewrite>
      <rules>
        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAny">
          <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        <rule name="html">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
