.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 50%;
  margin: 0 auto;
}

.feature {
  display: flex;
  align-items: center;
}

.feature:nth-child(even) .featureDescription,
.feature:nth-child(odd) .featureImageWrap {
  order: 0;
  margin-right: 1em;
}

.feature:nth-child(odd) .featureDescription,
.feature:nth-child(even) .featureImageWrap {
  order: 1;
}

.featureImageWrap {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureImage {
  width: 200px;
  max-width: 200px;
}
