Title: Music Notation
TexSample: true
ShowInNavbar: true
Order: 1
---

<p>
	These pages provide an insight on what music notation features alphaTab is able to display. Navigate through the sections in the sidebar to check out the individual elements and display variants.
</p>

<div id="alphaTabShowcase" data-file="@Context.GetLink("/assets/files/Canon.gp5")"></div>
<script type="text/javascript">
	$('#alphaTabShowcase').alphaTab();
</script>