.noWrap {
    white-space: nowrap;
}

.hasTooltip {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    cursor: help;
}

.ignored {
    opacity: 0.5;
}

.featureTable tbody tr td:nth-child(3) {
    background-color: rgba(210, 231, 255, 0.5);
} 