/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@use './highlight.scss';

@import "@fontsource/noto-sans/300.css";
@import "@fontsource/noto-sans/400.css";
@import "@fontsource/noto-sans/500.css";
@import "@fontsource/noto-sans/700.css";

@import "@fontsource/noto-sans/300-italic.css";
@import "@fontsource/noto-sans/400-italic.css";
@import "@fontsource/noto-sans/500-italic.css";
@import "@fontsource/noto-sans/700-italic.css";

@import "@fontsource/noto-serif/300.css";
@import "@fontsource/noto-serif/400.css";
@import "@fontsource/noto-serif/500.css";
@import "@fontsource/noto-serif/700.css";

@import "@fontsource/noto-serif/300-italic.css";
@import "@fontsource/noto-serif/400-italic.css";
@import "@fontsource/noto-serif/500-italic.css";
@import "@fontsource/noto-serif/700-italic.css";

@import 'react-tooltip/dist/react-tooltip.css';


/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #426d9d;
  --ifm-color-primary-dark: #3b628d;
  --ifm-color-primary-darker: #385d85;
  --ifm-color-primary-darkest: #2e4c6e;
  --ifm-color-primary-light: #4978ad;
  --ifm-color-primary-lighter: #4c7db4;
  --ifm-color-primary-lightest: #648ebe;
  --ifm-code-font-size: 95%;
  --ifm-z-index-fixed: 2000;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.2);

  --ifm-font-family-base: "Noto Sans";
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #426d9d;
  --ifm-color-primary-dark: #3b628d;
  --ifm-color-primary-darker: #385d85;
  --ifm-color-primary-darkest: #2e4c6e;
  --ifm-color-primary-light: #4978ad;
  --ifm-color-primary-lighter: #4c7db4;
  --ifm-color-primary-lightest: #648ebe;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
}

img.thumbnail {
  max-width: 400px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.5);
  }
}

.badge--header {
  font-size: 0.75rem;
}

.theme-doc-markdown {
  position: relative;
}

li.reference-item ul {
  display: none !important;
}

li.types-item .menu__list-item-collapsible {
  flex-wrap: no-wrap;
}

li.types-item .menu__list {
  font-size: 0.8rem;
}

li.types-item .menu__link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar__item.header-github-link {
  display: flex;
  align-items: center;
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
  margin-right: 0.25rem;
}

/* Styles for player */
[data-theme="dark"] {
  .at-cursor-bar {
    /* Defines the color of the bar background when a bar is played */
    background: rgba(66, 109, 157, 0.2);
  }

  .at-selection div {
    /* Defines the color of the selection background */
    background: rgba(64, 64, 255, 0.1);
  }

  .at-cursor-beat {
    /* Defines the beat cursor */
    background: rgba(61, 142, 234, 0.75);
    width: 3px;
  }

  .at-highlight * {
    /* Defines the color of the music symbols when they are being played (svg) */
    fill: #0078ff;
    stroke: #0078ff;
  }
}

[data-theme="light"] {
  .at-cursor-bar {
    /* Defines the color of the bar background when a bar is played */
    background: rgba(255, 242, 0, 0.25);
  }

  .at-selection div {
    /* Defines the color of the selection background */
    background: rgba(64, 64, 255, 0.1);
  }

  .at-cursor-beat {
    /* Defines the beat cursor */
    background: rgba(64, 64, 255, 0.75);
    width: 3px;
  }

  .at-highlight * {
    /* Defines the color of the music symbols when they are being played (svg) */
    fill: #0078ff;
    stroke: #0078ff;
  }
}

@import "react-tooltip/dist/react-tooltip.css";

.codeBlockContainer {
  border-radius: var(--ifm-code-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  margin-bottom: var(--ifm-leading);
  background: var(--prism-background-color);
  color: var(--prism-color);

  & .codeBlockContent {
    border-radius: inherit;
    direction: ltr;
    position: relative;
  }

  & .codeBlock {
    --ifm-pre-background: var(--prism-background-color);
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
  }

  & .codeBlockLines {
    float: left;
    font: inherit;
    min-width: 100%;
    padding: var(--ifm-pre-padding);

    & a {
      text-decoration: underline dotted;
    }


    & a:hover {
      text-decoration: underline;
    }
  }
}


body.playground {
  --doc-sidebar-hidden-width: 0px;

  .theme-doc-breadcrumbs {
    display: none;
  }

  footer.footer {
    display: none;
  }

  .theme-doc-markdown header h1 {
    display: none;
  }

  main>.container {
    max-width: initial !important;
    height: calc(100vh - var(--ifm-navbar-height));
    overflow: hidden;
    display: flex;
    padding: 0 !important;


    &>.row {
      width: 100%;
      margin: 0;

      &>.col {
        max-width: initial !important;
        display: flex;
        flex-direction: column;
        padding: 0;

        &>div:last-child {
          flex-grow: 1;
          display: flex;
          flex-direction: column;

          & article {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            & .theme-doc-markdown {
              display: flex;
              flex-direction: column;
              flex-grow: 1;

              & p {
                margin: 0;
              }
            }
          }

          & nav.pagination-nav {
            display: none;
          }

          & .theme-doc-footer {
            display: none;
          }
        }
      }
    }


  }

}

