[data-theme="light"] {
  code.codeBlockLines.generated, code.codeBlockLinesInline {
    color: #393A34;
    background-color: #f6f8fa;

    .identifier {
      color: #36acaa;
    }
    .token {
      color: #393A34;
    }
    .keyword {
      color: #00009f;
    }
    .whitespace {
      color: #393A34;
      background-color: #f6f8fa;
    }
  }
}
[data-theme="dark"] {
  code.codeBlockLines.generated, code.codeBlockLinesInline {
    color: #F8F8F2;
    background-color: #282A36;

    .identifier {
      color: rgb(189, 147, 249);
      font-style: italic;
    }
    .token {
      color: rgb(248, 248, 242);
    }
    .keyword {
      color: rgb(189, 147, 249);
      font-style: italic;
    }
    .whitespace {
      color: #F8F8F2;
      background-color: #282A36;
    }
  }
}
