name: Deploy
on: 
  push:
    branches:
      - master
          
jobs:
  build:
    runs-on: ubuntu-latest
      
    steps:
    - uses: actions/checkout@v2
    - uses: montudor/action-zip@v0.1.0
    - uses: actions/setup-node@master
      with:
        node-version: '12.x'
    - run: npm install
    - run: npm run build
    - run: cp web.config ./build
    - name: Package Zip
      run: zip -qq -r ./website.zip ./build
    - name: Push Zip To Server
      run: |
        curl --request POST \
        --url https://docs.alphaTab.net/deploy-zip.php \
        --header 'authorization: Bearer ${{ secrets.DEPLOY_TOKEN }}' \
        --header 'branch: website' \
        -F "website=@./website.zip" \
        --fail